body{
	background : #bccad6;
	padding: 20px 70px;
	font-family: sans-serif;
}
h1{
	font-size: 45px;
}

h2{
	font-size: 35px;

}

li{

}
ul{

}

p{
	font-size: 20px;
	color: #000;
	line-height: 180%;

}

a {
	text-decoration: none;
	font-size: 30px;

}

/* unvisited link */
a:link, a:visited {
    background-color: #404040;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

a:hover, a:active {
    background-color: #6b5b95;

}

/*Image*/

img{
	/*margin-left: auto;*/
	/*margin-right: auto;*/

}

/*Header*/

.HeaderBox{
	background: #667292;

}
.LogoBox{
	background: #667292;
	padding-bottom: .5px;
	display: inline-flex;

}
.Logo{
	color: #FFF;
	margin-left: 30px;

}
.SMbar{
	float: right;
	padding-right: 10%;

}
.SMlink{
	color: #000;
	font-size: 20px;
	text-decoration: none;

}

/*Navbar*/

.navbarBox{
	text-decoration: none;
	padding-top: 20px;

}

.sectionBox{
	
}

.sectionHeader{
	text-align: center;

}

.footerBox{
	background: #667292;
	text-align: center;
	padding : 20px 20px 20px; 


}